absl-py==2.1.0
altgraph==0.17.4
attrs==23.2.0
branca==0.8.2
certifi==2025.11.12
cffi==1.16.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.2.0
customtkinter==5.2.2
cvzone==1.6.1
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
et_xmlfile==2.0.0
flatbuffers==24.3.7
folium==0.20.0
fonttools==4.50.0
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
idna==3.11
imutils==0.5.4
jax==0.4.25
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.5
MarkupSafe==3.0.3
matplotlib==3.8.3
mediapipe==0.10.11
ml-dtypes==0.3.2
networkx==3.5
numpy==1.26.4
objprint==0.3.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
osmnx==2.0.6
packaging==24.0
pandas==2.2.3
pefile==2023.2.7
pillow==10.2.0
protobuf==3.20.3
psutil==6.0.0
PuLP==2.9.0
pycparser==2.21
pyFirmata==1.1.0
pygame==2.6.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyogrio==0.11.1
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.1.2
pyperclip==1.11.0
pyproj==3.7.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt5Designer==5.14.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==311
pywin32-ctypes==0.2.3
ratelim==0.1.6
requests==2.32.5
scikit-learn==1.7.2
scipy==1.12.0
seaborn==0.13.2
shapely==2.1.2
simpy==4.1.1
six==1.16.0
sounddevice==0.4.6
threadpoolctl==3.6.0
tkintermapview==1.29
tzdata==2024.2
urllib3==2.5.0
viztracer==1.1.1
xyzservices==2025.11.0
